:root {
  --primary-main: #4987F1;   
  --primary-main2: #5681BF;  
  --primary-main3: #0B3353;   
  --primary-main4: #001323;   
  --text-black: #1A1A1A; 
}   
a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
} 
body{
  font-family: "Sarabun", sans-serif;
  font-style: normal;   
  background-color: #e8e8e8;
  padding-top: 55px;
  overflow: hidden;
}    
.img-logo{
  height: 30px;
}
nav{
  background-image: linear-gradient(to right, #0071cd, #1165be, #1959b0, #1d4da1, #1f4293);
  padding: 0px 20px  !important;
  height: 55px;
}
.menutx{
  background-color: #f6f6f6;  
} 
.menutx .nav-item.active{
  background-color: #548ab4; 
  color: #fff;
}
.menutx .nav-item a{ 
  font-size: 14px;
  color: black;
  padding: 15px 20px !important;
  border: unset !important;
  box-shadow: unset !important;
  outline: unset !important;
}
.menutx .nav-item a:hover{ 
  border: unset !important;
  box-shadow: unset !important;
  outline: unset !important;
}
.menutx .nav-item.active a{ 
  color: #fff;
}
.menutx .nav-item:hover { 
  background-color: #548ab4;
}
.menutx .nav-item:hover a{ 
  color: #fff;
}
.card .form-label{
  font-size: 14px;
  text-align: end;
  margin-top: 6px;
}
.card .form-check-label{
  font-size: 14px;
  text-align: end; 
}
.card .form-label span{
  color: red;
} 
.toggle-eye {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
}
.toggle-eye:hover {
  color: #0d6efd;
} 
.table-responsive .table th{
  font-size: 13px;
  vertical-align: middle;
}
.table-responsive .table td{
  font-size: 11px;
  vertical-align: middle;
}
.table-responsive .table td .form-select{
  font-size: 11px;
}
.table-responsive .table td .form-control{
  font-size: 11px;
}
.table-responsive .table td .form-select option{
  font-size: 11px;
} 
.table-responsive .table td .btn-primary.btn-sm{
  font-size: 10px;
} 
.radi{
  border: 3px solid #000;
  border-radius: 10px;
  padding: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 13px;
  line-height: 20px;
  color: blue;
} 
/*  
  transition: 0.3s;  
######################################################################################################
###################################################################################################### 
*/ 
 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}   
@media only screen and (min-width: 1025px) { 
  .pc-x{
    display: none !important;
  }   
}   