:root {
  --primary-main: #4987F1;   
  --primary-main2: #5681BF;  
  --primary-main3: #0B3353;   
  --primary-main4: #001323;   
  --text-black: #1A1A1A; 
}   
a{
  text-decoration: none !important; 
}
a:hover{
  text-decoration: none;
} 
body{
  font-family: "Sarabun", sans-serif;
  font-style: normal;   
  background-color: #e8e8e8;
  padding-top: 55px;
  overflow: hidden;
}    
.img-logo{
  height: 30px;
}
nav{
  background-image: linear-gradient(to right, #0071cd, #1165be, #1959b0, #1d4da1, #1f4293);
  padding: 0px 20px  !important;
  height: 55px;
} 
/*  
######################################  START CSS SET  ###############################################
######################################################################################################
###################################################################################################### 
*/ 
 
/* ===== TOP BAR ===== */
.topbar {
  background: #fff; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, .1), 0 10px 10px -5px rgba(0, 0, 0, .04);
  padding-right: 20px;
}
.topbar div:nth-child(1){
  width: 260px; 
  padding-left: 20px;
}
.top-menu a {
  color: #000;
  margin-right: 10px;
  margin-left: 10px;
  text-decoration: none;
  opacity: .8; 
  display: inline-block;
  align-items: center;
  padding: 15px 15px;
  border-bottom: 2px solid transparent;
  font-size: 14px;
}
.top-menu a.active {
  opacity: 1; 
  color: #4899ed; 
  font-weight: bold;
  border-bottom: 2px solid #4899ed;
}
/* ===== LAYOUT ===== */
.layout {
  display: flex;
  height: calc(100vh - 56px);
}
/* ===== SIDEBAR ===== */
.sidebar {
  width: 260px;
  background: #fff;
  border-right: 1px solid #ddd;
  transition: all .25s ease;
  overflow: hidden;
}
.sidebar.closed {
  width: 0;
}
.sidebar-header {
  padding: 12px 16px;
  font-weight: 600;
  background: #fff;
  font-size: 12px;
}
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.sidebar li { 
  cursor: pointer;
  font-size: 14px;
}
/* .sidebar li:hover,
.sidebar li.active {
  background: #08538b;
  color: #fff;
} */
/* ===== CONTENT ===== */
.content {
  flex: 1;
  padding: 20px;
  overflow: auto;
  background: #F2F8FC;
}
/* toggle btn */
.toggle-btn {
  cursor: pointer;
}

.sidebar-menu li {
  font-size: 14px;
} 
.menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 16px;
  cursor: pointer;
} 
.menu-item.active > .menu-title {
  background: #08538b;
  color: #fff;
} 
.arrow {
  font-size: 12px;
  transition: transform .2s ease;
}

.menu-item.open > .menu-title .arrow {
  transform: rotate(180deg);
}

/* Submenu */
.submenu {
  list-style: none;
  padding-left: 0;
  display: none; 
}

.submenu li {
  padding: 8px 32px;
  font-size: 13px;
  cursor: pointer;
}

.submenu li:hover {
  background: #08538b;
  color: #fff;
}

/* เปิด submenu */
.submenu.open {
  display: block;
}
.text-prev{
  font-size: 14px;
}
.text-map{
  font-size: 12px;
}


/*   
######################################################################################################
###################################################################################################### 
*/ 
 

@media only screen and (max-width: 1024px) { /* MOBILE */
  .mb-x{
    display: none !important;
  }  
}   
@media only screen and (min-width: 1025px) { 
  .pc-x{
    display: none !important;
  }   
}   